name: Terraform Apply

on:
  workflow_call:
    inputs:
      tf_version:
        required: true
        type: string
      aws_region:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ inputs.tf_version }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --region ${{ inputs.aws_region }} \
            --name fastfood-cluster

      - name: Install / Upgrade AWS Load Balancer Controller
        run: |
          kubectl create namespace kube-system --dry-run=client -o yaml | kubectl apply -f -
          helm repo add eks https://aws.github.io/eks-charts
          helm repo update
          helm upgrade --install alb-controller eks/aws-load-balancer-controller \
            --namespace kube-system \
            --set clusterName=fastfood-cluster \
            --set serviceAccount.create=false \
            --set serviceAccount.name=alb-ingress-service-account

      - name: Apply Kubernetes Namespaces
        run: kubectl apply -f k8s/namespaces.yaml

      - name: Apply Kubernetes Ingress
        run: kubectl apply -f k8s/ingress.yaml
