name: Terraform Destroy Pipeline

on:
  workflow_dispatch:

jobs:
  fmt-validate:
    uses: ./.github/workflows/fmt-validate.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}

  plan:
    needs: fmt-validate
    uses: ./.github/workflows/plan.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  destroy:
    needs: plan
    uses: ./.github/workflows/destroy.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
