name: Terraform CI/CD

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  fmt-validate:
    uses: ./.github/workflows/fmt-validate.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}

  plan:
    needs: fmt-validate
    uses: ./.github/workflows/plan.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  apply:
    needs: plan
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/apply.yml
    with:
      tf_version: ${{ vars.TF_VERSION }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
